.offcanvas{
    width: 250px !important;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #415a77;
}

.img-side{
    width: 200px;
    height: 200px;
    margin-left: 5%;
    margin-top: -10%;
}

.hrs{
    position: absolute;
    background-color: white;
    width: 103%;
    margin-top: -7%;
    margin-left: -10%;
    height: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
}

.nav-list {
    list-style: none;
    padding: 0;
  }
  
  .nav-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
  
//   .sidebar {
//     width: 220px;
//     // background-color: #1e1e2f;
//     color: white;
//     height: 100vh;
//     position: fixed;
//     transition: all 0.3s ease;
//     // box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
//   }

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
  
    li {
      margin-bottom: 5px;
  
      a {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        color: #ccc;
        text-decoration: none;
        transition: 0.3s;
  
        i {
          margin-right: 10px;
          width: 20px;
          text-align: center;
        }
  
        &:hover {
          background-color: #001d3d;
          color: #fff;
        }
      }
  
      .child-list {
        list-style: none;
        padding-left: 30px;
        margin-top: 5px;
  
        li a {
          padding: 8px 20px;
          font-size: 14px;
          color: #bbb;
  
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }